{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ album.title }}</h1>
    <div class="row">
        <div class="col-md-6">
            <figure>
                <img src="/media/{{ album.cover }}" alt="{{ album.title }}" width="350" />
                <figcaption>{{ album.artist.first_name }}</figcaption>
            </figure>
        </div>
        <div class="col-md-6">
            <ul>
                {% for track in album.track_set.all %}
                    <li style="list-style-type: none;">{{ track }}</li>
                {% empty %}
                    <div>No hay tracks todavía.</div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}