Django==5.1               #
Pillow==10.4.0            # Librería de tratm. imagenes
Werkzeug==3.0.3           # Debug en el navegador
argparse==1.4.0           #
django-grappelli==4.0.1   # Tema admin de django
django-extensions==3.2.3  # Comandos extendidos, necesario para Werkzeug
ipdb==0.13.13             # Herramienta de debug (import ipdb... en el código)
ipython==8.26.0           #
six==1.16.0               #
tablib==3.6.1             # Librería para exportar a excel, csv,..
uvicorn==0.30.6           #
